turbook-view{
  display: block;
  --main:#00baff;
}
turbook-view .toc{
  width: 300px;
  background-color: #f4f4f4;
  height: 100%;
  float: left;
  overflow: auto;
}
turbook-view .page{
  width: calc(100% - 300px);
  background-color: #fff;
  height: 100%;
  float: left;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 20px;
  box-sizing: border-box;
}
turbook-view .toc>ul{
  margin-left: 10px;
}
turbook-view .toc ul li{
  margin-left: 10px;
  list-style: none;
  line-height: 30px;
}
turbook-view .toc ul li p.title{
  font-weight: bold;
}
turbook-view .toc ul li a{
  color: #000;
  text-decoration: none;
}
turbook-view .toc ul li a:hover,
turbook-view .toc ul li a.active{
  color: #00baff;
}
turbook-view .loading{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
turbook-view .loading::after{
  content:'';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: -10px -10px 0 var(--main),
              -10px 10px 0 var(--main),
              10px 10px 0 var(--main),
              10px -10px 0 var(--main)
              ;
  animation: lip .5s linear;
  transform-origin: center center;
}
@keyframes lip {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

.markdown-body {
  font-size: 17px;
  line-height: 30px;
  font-family: inherit;
  background-color: inherit;
}

.markdown-body a[href] {
  color: var(--main, #00baff);
  position: relative;
  text-decoration: none;
}


.markdown-body a[href]::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3px;
  right: -3px;
  background: var(--main);
  height: 2px;
  border-radius: 3px;
  transition: height .1s linear;
  opacity: 0.2;
}

.markdown-body a[href]:hover::before {
  height: 100%;
}

.markdown-body :where(h1, h2, h3, h4, h5, h6) {
  color: var(--main);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.markdown-body blockquote {
  border-color: var(--main);
}